/** 
 *
 * ****************
 * Base Style Sheet
 * ****************
 * 
 * This is reserved for generic page styles such as box-sizing.
 * Only styles that are exclusive to the entire app are written here.
 *
 * Component specific css is written inside each React component using the Style-it library
 *
 */
 
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #EEEEEE;
  margin: 0;
}
/*body:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("https://static.pexels.com/photos/39031/strawberry-red-macro-39031.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat-x;
  z-index: -1;
  background-color: pink;
}*/